<!DOCTYPE html>
<html>
  <head>
    <title>MUNIup</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
    <script type="text/javascript">
       // force JQM to use the hash rather than paths
       $.mobile.pushStateEnabled = false;
    </script>
    <style type="text/css">
      html { -webkit-text-size-adjust: none; }
    </style>
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
    <meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  </head>
  <body>
    <div data-role="page" id="home"> 
      <div data-role="header">
        <h1>MUNIup</h1> 
        <a href="/new" data-icon="plus" data-iconpos="notext" class="ui-btn-right">Add</a>
      </div> 
      <div data-role="content">
        <h2>Hey <%=h @config[:name] %>!</h2>
        <br>
        <ul data-role="listview">
          <% @config[:routes].each_with_index do |route, i| %>
            <li><a href="<%= url("/#{i}") %>"><%=h route[:name] %></a></li>
          <% end %>
        </ul>
      </div> 
      <div data-role="footer" data-position="fixed" data-id="footer" class="ui-bar">
        <h4><a href="mailto:bob@kludgebox.com?subject=muniup+feedback">Send Feedback</a></h4>
      </div>
    </div>
  </body>
</html>
