<div data-role="page" id="home"> 
  <div data-role="header">
    <h1>MUNIup</h1> 
    <a href="/new" data-icon="plus" data-iconpos="notext" class="ui-btn-right">Add</a>
  </div> 
  <div data-role="content">
    <h2>Hey <%=h @config.name %>!</h2>
    <br>
    <ul data-role="listview">
      <% @config.routes.each_with_index do |route, i| %>
        <li><a href="<%= url("/#{i}") %>"><%=h route.name %></a></li>
      <% end %>
    </ul>
  </div> 
  <div data-role="footer" data-position="fixed" data-id="footer" class="ui-bar">
    <h4><a href="mailto:bob@kludgebox.com?subject=muniup+feedback">Send Feedback</a></h4>
  </div>
</div>
